
.cell {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
}

.tokenContainer {
    display: flex;
    align-items: center;
}
.Player {
    background-color:chartreuse;
}

.Monster {
    background-color: blueviolet;
}

.Trap {
    background-color: red;
}

.Miscelanious {
    background-color: grey;
}

.Player-preview {
    width: 50px;
    height: 50px;
    margin: 3px;
}

.Monster-preview{
    width: 50px;
    height: 50px;
    margin:  3px;
}

.Trap-preview {
    width: 50px;
    height: 50px;
    margin:  3px;
}

.Miscelanious-preview {
    width: 50px;
    height: 50px;
    margin:  3px;
}